.ani{
    color: rgb(15, 14, 14);
  animation-name: ani;
  animation-duration: 4s;
}

@keyframes ani {
    0%   {color: rgb(10, 10, 10);}
    10%{top:10px;}
    15%{font-size:large}
    25%  {color: rgb(7, 7, 7);}
    15%{font-size:large}
    50%  {color: rgb(41, 41, 110);}
    15%{font-size:large}
    100% {color: rgb(12, 14, 12);}
  }
  .ani1{
    color:white;
    animation: ani1;
    animation-duration: 5s;
  }
  @keyframes ani1{
    10%{top:10px;}
    15%{font-size:60%}
    25%  {color: whitw}
    15%{font-size:large}
    50%  {color: white}
  }

  body{
background-image: url(/img/bgpic.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
  }
  .imgp{
    animation-name: imgp;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  
  @keyframes imgp {
    from {height:0%; width:0%;}
    to {height:600px; width:100%;}
  }
  .learn{
    text-decoration: none;
    color:white;
  }
  .back{
    background-image: url(/img/bgpic1.png);
  }
  

  .blance{
    background-image: url(/img/bgpic1.png);
  }



  /* Parent Container */
.content_img{
  position: relative;
  width: 420px;
  height: 420px;
  float: left;
  margin-top: 90px;;
  
}

/* Child Text Container */
.content_img div{
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgb(236, 213, 213);
  color: rgb(15, 14, 14);
  margin-bottom: 5px;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear; 
  transition: visibility 0s, opacity 0.5s linear;
}

/* Hover on Parent Container */
.content_img:hover{
  cursor: pointer;
}

.content_img:hover div{
  width: 250px;
  left:30px;
 
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.7; 
}

.rotate{
  animation: rotation 6s infinite linear;
}
@keyframes rotation{
  from{
      transform: rotate(0deg);
      
  }
  to{
      transform: rotate(359deg);
  }
}


.color{
  animation-name: color;
   color: white;
   animation-duration: 6s;
}
@keyframes color{
  from{
      color: black;
  }
  to{
      color: orangered;
      color: blue;
  }
}

 .move{
  
  background: red;
  position: relative;
  animation: move 5s infinite;
}

@keyframes move {
  from {left: 0px;}
  to {left: 30px;}
}


.bgc{
  animation-name: bgc;
  animation-duration: 5s;
   animation-iteration-count: infinite;


}
 @keyframes bgc{
  from{
    background-color: cyan;
  }
  to{
    background-color: crimson;
  }
 }


 .imgpp{
  animation-name: imgpp;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes imgpp {
  from {height:0%; width:0%;}
  to {height:600px; width:300px;}
}

.imgppp{
  animation-name: imgppp;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes imgppp {
  from {height:0%; width:0%;}
  to {height:150px; width:450px;}
}



